{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.9.10
      </li>
      <li class="list-group-item">
        Django 2.2.9
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Здесь технологии что были использованы в этом проекте</p>
  </article>
</div>
{% endblock %}